:root {
    --nav-bar-height: 30vh;
    --balloon-knot-height: 15%;
}
.not-selectable{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body::backdrop{
    background: unset;
}
